/* Cards */

.custom-col {
    margin-bottom: 15px;
}

.card.custom-card {
    background-color: var(--card-bg-color);
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    color: var(--text-color);
}

.card.custom-card:hover {
    transform: scale(1.05);
}

/* Titles */

h1.main-title {
    font-weight: 450;
}

/* Buttons */

a.btn {
    text-decoration: none;
    margin: 5px;
    border-color: rgb(95, 92, 92);
}

/* Body */

:root {
    --text-color: rgb(211, 206, 206);
    --background-color: rgb(37, 39, 39);
    --container-custom-bg: rgba(49, 51, 53, 0.9);
    --card-bg-color: rgba(49, 51, 53, 0.9);
    --secondary: #6c757d;
}

body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    color: var(--text-color);
}

.footer {
    margin-top: auto;
}

/* Containers */

.container.custom-container {
    background-color: var(--container-custom-bg);
    border-radius: 10px;
    width: auto;
    height: auto;
    border: 1px solid var(--secondary);
    margin: 10px 15px;
}

/* Particles */

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}